<!-- TITLE PAGE SECTION --------------------------------->

<div id="titlesection-container">

	<!-- HEADER-------------------------- -->
	
	<div id="header">
		
		<div id="logo-area"></div>
	
		<div id="nav-area">
			
			<ul class="nav nav-pills nav-justified">
	  			<li><a href="#" class="link">About</a></li>
	  			<li><a href="#" class="link">Projects</a></li>
	  			<li><a href="#" class="link">Contact</a></li>
	  			<li><a href="#" class="link">Resume</a></li>
			</ul>
	
		</div>
	
	</div>

	
	<!-- BODY-------------------------- -->
 	
	<div id="main">
		
		<div id="socialmedia-area">
			
	 		<div class="btn-group-vertical">
	  			<button type="button" class="btn btn-primary smlink" 	id="githublink">
	 				<%= image_tag("GitHub-Mark-Light-32px.png") %>
	  			</button>
	  			<button type="button" class="btn btn-primary smlink" 	id="twitterlink">
	  				<%= image_tag("if_twitter_291710.png") %>
	  			</button>
	  			<button type="button" class="btn btn-primary smlink" 	id="facebooklink">
	  				<%= image_tag("if_facebook_386622 (1).png") %>
	  			</button>
	  			<button type="button" class="btn btn-primary smlink" 	id="googleplaylink">
	  				<%= image_tag("if_playstore_252084.png") %>
	  			</button>
			</div> 
	
		</div>
	
	 	<div id="info-area">
	 		
	 		<div id="info">
	 			<div id="name">
	 				<span class="letter">N</span><span class="letter">u</span><span class="letter">m</span><span class	="letter">f</span><span class="letter">o</span><span class="letter">r</span> <span class="letter">T</span><span class="letter">i</span><span class="letter">a</span><span class="letter">p</span><span class="letter">o</span>
	 			</div>
	 			<div id="description">
	 				<pre>&lt;p&gt;I am a passionate web and mobile app developer.&lt;/p&gt;</pre>
	 			</div>
	 		</div>
	
	 	</div> 
	
	</div> 

</div>

<!-- ABOUT SECTION ----------------------------------------->

<div id="aboutsection-container">
	
	<div id="aboutsection-main">

		<div id="aboutsection-info">
			<div id="aboutsection-greeting">Hi I'm Numfor, nice to 	meet you.</div>
			<div id="aboutsection-description">I'm currently a 	rising sophomore at Rensselaer Polytechnic Institute. I'm focused, driven, and constantly improving my skills as a developer. Take a look at some of my skills:	</div>
		</div>
		
		<div id="tagcloud">
			<ul>
				<li class="skilltag">Html</li>
				<li class="skilltag">CSS</li>
				<li class="skilltag">Javascript</li>
				<li class="skilltag">jQuery</li>
				<li class="skilltag">Vue.js</li>
				<li class="skilltag">Ruby on Rails</li>
				<li class="skilltag">Git</li>
				<li class="skilltag">PHP</li>
				<li class="skilltag">Bash</li>
				<li class="skilltag">C</li>
				<li class="skilltag">C++</li>
				<li class="skilltag">Ruby</li>
				<li class="skilltag">Java</li>
				<li class="skilltag">Android Studio</li>
			</ul>												
		</div>

	</div>

</div>

<!-- Project Section--------------------------------------->
<div id="projectsection-container"></div>

	
<!-- JAVASCRIPT -------------------------------------------->

<script type="text/javascript">

	/*Title Section-----------------------------------*/

	//Set title section container height to window height
	$("#titlesection-container").height($(window).height());

	//Navigation links
	$(".link").mouseenter(function(){
		$(this).animate({"color": "#4dff88"}, 250);
  	});

	$(".link").mouseleave(function(){
		$(this).animate({"color": "black"}, 250);
	});

	//Social Media Linls
	$(".smlink").mouseenter(function(){
		$(this).animate({"width":"100%"}, 250);
	});

	$(".smlink").mouseleave(function(){
		$(this).animate({"width":"60%"}, 250);
	});

	//Name animations
	$(".letter").mouseenter(function(){
		$(this).animate({"font-size":"150px", "color":"#ff6666"}, 250);
	});

	$(".letter").mouseleave(function(){
		$(this).animate({"font-size":"140px", "color":"black"}, 250);
	});


	/*About Section-----------------------------------*/

	//Set about section container height
	// $("#aboutsection-container").height($(window).height());


	//Maintain container heights when window is resized
	$(window).resize(function(){
		$("#titlesection-container").height($(window).height());
		// $("#aboutsection-container").height($(window).height());
	});
	$(window).trigger('resize');

	var tagcloud_height = $("#tagcloud").height();
	var tagcloud_width = $("#tagcloud").width();
	//3D Skills Sphere
	var settings = {
		//height of sphere container
		height: tagcloud_height, 
		//width of sphere container
		width: tagcloud_width, 
		//radius of sphere
		radius: 250,
		//rotation speed
		speed: 1,
		//sphere rotations slower
		// slower: 0.9,
		// //delay between up<a href="https://www.jqueryscript.net/		time-clock/">date</a> position
		// timer: 5,
		// //dependence of a font size on axis Z
		// fontMultiplier: 15,
		// //tag css stylies on mouse over
		// hoverStyle: {
		// border: 'none',
		// color: '#4dff88'
		// },
		// //tag css stylies on mouse out
		// mouseOutStyle: {
		// border: '',
		// color: ''
		// }
	};
	
	$('#tagcloud').tagoSphere(settings);

</script>