<!-- HEADER-------------------------- -->

<div id="header">
	
	<div id="logo-area"></div>

	<div id="nav-area">
		
		<ul class="nav nav-pills nav-justified">
  			<li><a href="#" class="link">About</a></li>
  			<li><a href="#" class="link">Projects</a></li>
  			<li><a href="#" class="link">Contact</a></li>
  			<li><a href="#" class="link">Resume</a></li>
		</ul>

	</div>

</div>

<!-- BODY-------------------------- -->

<div id="main">
	
	<div id="socialmedia-area">
		
 		<div class="btn-group-vertical">
  			<button type="button" class="btn btn-primary smlink" id="githublink">
 				<%= image_tag("GitHub-Mark-Light-32px.png") %>
  			</button>
  			<button type="button" class="btn btn-primary smlink" id="twitterlink">
  				<%= image_tag("if_twitter_291710.png") %>
  			</button>
  			<button type="button" class="btn btn-primary smlink" id="facebooklink">
  				<%= image_tag("if_facebook_386622 (1).png") %>
  			</button>
  			<button type="button" class="btn btn-primary smlink" id="googleplaylink">
  				<%= image_tag("if_playstore_252084.png") %>
  			</button>
		</div> 

	</div>

 	<div id="info-area">
 		
 		<div id="info">
 			<div id="name">Numfor Tiapo</div>
 			<div id="description">
 				<pre>&lt;p&gt;I am a passionate web and mobile app developer.&lt;/p&gt;</pre>
 			</div>
 		</div>

 	</div> 

</div>

<!-- JAVASCRIPT ------------------------------->

<script type="text/javascript">

	//Navigation links
	$(".link").mouseenter(function(){
		$(this).animate({"color": "#4dff88"}, 250);

  	});

	$(".link").mouseleave(function(){
		$(this).animate({"color": "black"}, 250);
	});

	//Social Media Linls
	$(".smlink").mouseenter(function(){
		$(this).animate({"width":"100%"}, 250);
	});

	$(".smlink").mouseleave(function(){
		$(this).animate({"width":"60%"}, 250);
	});
</script>