<!-- HEADER-------------------------- -->

<div id="header">
	
	<div id="logo-area"></div>

	<div id="nav-area">
		
		<ul class="nav nav-pills nav-justified">
  			<li><a href="#" id="link">About</a></li>
  			<li><a href="#" id="link">Projects</a></li>
  			<li><a href="#" id="link">Contact</a></li>
  			<li><a href="#" id="link">Resume</a></li>
		</ul>

	</div>

</div>

<!-- BODY-------------------------- -->

<div id="main">
	
	<div id="socialmedia-area">
		
 		<div class="btn-group-vertical">
  			<button type="button" class="btn btn-primary githublink" id="smlink">
 				<%= image_tag("GitHub-Mark-Light-32px.png") %>
  			</button>
  			<button type="button" class="btn btn-primary twitterlink" id="smlink">
  				<%= image_tag("if_twitter_291710.png") %>
  			</button>
  			<button type="button" class="btn btn-primary facebooklink" id="smlink">
  				<%= image_tag("if_facebook_386622 (1).png") %>
  			</button>
  			<button type="button" class="btn btn-primary googleplaylink" id="smlink">
  				<%= image_tag("if_playstore_252084.png") %>
  			</button>
		</div> 

	</div>

 	<div id="info-area">
 		
 		<div id="info">
 			<div id="name">Numfor Tiapo</div>
 			<div id="description">
 				<pre>&lt;p&gt;I am a passionate web and mobile app developer.&lt;/p&gt;</pre>
 			</div>
 		</div>

 	</div> 

</div>

