<div class="container-fluid" id="game-container">
	
	<div class="container-fluid" id="header"></div>

	<div class="game-area" id="first">
		
		<h1 id="instruction-text">Dodge the Letters</h1>

	</div>

	

	<div class="container-fluid" id="footer"></div>

</div>