<div class="project-popup-mobile" id="focus-popup-mobile">

	<!-- Focus Info -->

	<div class="project-info-mobile" id="focus-info-mobile">
			
		<h1>Focus</h1>
		<div class="exit">X</div>
		<ul class="list-group">
			<li class="list-group-item">Android Studio</li>
			<li class="list-group-item">Java</li>
			<li class="list-group-item">SQL</li>
		</ul>
		<p>Focus is an exciting, color-based arcade game built using the Android Studio framework and released
through the Google Play Store. Focus uses a self-designed, dynamic algorithm that changes the
speed and difficulty of the game as the user improves. It has a 5 star rating on the Google Play
Store and multiple good reviews.</p>
		<div class="view-site" id="focus-link">View Site</div>

	</div>


	<!-- Image Carousel -->
	<div id="focus-carousel-mobile" class="carousel slide" data-ride="carousel">
  		<!-- Indicators -->
  		<ul class="carousel-indicators">
  			 <li data-target="#focus-carousel-mobile" data-slide-to="0" class="active"></li>
  			 <li data-target="#focus-carousel-mobile" data-slide-to="1"></li>
  			 <li data-target="#focus-carousel-mobile" data-slide-to="2"></li>
  			 <li data-target="#focus-carousel-mobile" data-slide-to="3"></li>
  		</ul>
			
  		<!-- The slideshow -->
  		<div class="carousel-inner">
  			<div class="carousel-item active">
  			    <%= image_tag ("focus_pic1.png"), :class => "img-fluid" %> 
  			</div>
			
  			<div class="carousel-item">
   			   <%= image_tag ("focus_pic2.png"), :class => "img-fluid" %> 
  			</div>
			
  			<div class="carousel-item">
   			   <%= image_tag ("focus_pic3.png"), :class => "img-fluid" %> 
  			 </div>

  			<div class="carousel-item">
   			   <%= image_tag ("focus_pic4.png"), :class => "img-fluid" %> 
  			</div>
  		</div>
			
  		<!-- Left and right controls -->
  		<a class="carousel-control-prev" href="#focus-carousel-mobile" data-slide="prev">
  			<span class="carousel-control-prev-icon"></span>
  		</a>
  		<a class="carousel-control-next" href="#focus-carousel-mobile" data-slide="next">
  		  <span class="carousel-control-next-icon"></span>
  		</a>
	</div>

</div>