/*Title Section---------------------------------------*/    

//Navbar
.navbar{
	padding-top: 20px;
	font-size: 18px;
}

#about{
	padding-right: 140px;
	color: black;
}

#portfolio{
	padding-right: 140px;
	color: black;
}

#contact{
	padding-right: 140px;
	color: black;
}

#resume{
	color: black;
}

//Main------------------------
#main{
	height: 80%;
	padding: 0px;	
}

//Left Social Media links

.btn-group-vertical{
	width: 130px;
	padding-left:0px;
	display: inline-block;
	vertical-align: top;
	margin-top: 8%;
}
.btn-group-vertical button{
	height: 60px;
}

.smlink{
	border-radius: 0px !important;
	// background: url('app/assets/images/GitHub-Mark-32px.png');
}

#githublink, #githublink:hover{
	background-color: #4d4d4d;
	border-color: #4d4d4d;
	width: 60%;
}

#twitterlink, #twitterlink:hover{
	background-color: #1ebff0;
	border-color: #1ebff0;
	width: 60%;
}

#facebooklink, #facebooklink:hover{
	background-color: #3b5998;
	border-color: #3b5998;
	width: 60%;
}

#googleplaylink, #googleplaylink:hover{
	background-color: #f7f7f7;
	border-color: #f7f7f7;
	width: 60%;
}

//Info
#info-area{
	height: 100%;
	width: 84%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

#name{
	height: 70%;
	font-size: 18.5vmin;
	padding-top: 140px;
}

#description{
	height: 30%;
	margin: auto;
}

#description pre{
	color: #808080;
	// font-size: 17.5px;
	font-size: 2.25vmin;
	// font-size: 1.6vmax;
}


//Bottom Social Media Links----------------
#bottom{
	height: 10%; 
	padding-left: 0px;
}

.btn-group{
	width: 50%;
	padding-left: 0px;
}

.btb-group button{
	height: 30px;
}




/*About Section----------------------------------*/

#aboutsection-container{
	background: linear-gradient(to bottom right,#ffb3b3, #ff0000);
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 30px;
	color: white;
}

.col-xl-6{
	text-align: center;
	padding-top: 30px;
}

#aboutsection-greeting{
	font-size: 7.7vmin;
	margin-top: 150px;
}

#aboutsection-description{
	width: 80%;
	margin: auto;
	margin-top: 50px;
	font-size: 2.6vh;
}




/*Portfolio Section------------------------------------*/

#portfoliosection-container{
	padding: 30px 0px 40px 0px;
	text-align: center;
}

#portfoliosection-greeting{
	font-size: 6.5vh;
}

#underline{
	height: 5px;
	width: 100px;
	margin: auto;
	border: black solid;
}

.project{
	margin: auto;
	width: 70%;
	margin-top: 40px;
	min-height: 100px;
	position: relative;
}

.projectpicture{
	position: absolute;
}

.projectcover{
	background-color: #737373;
	opacity: 0.0;
	// height: 100%;
	// width: 100%;
	position: absolute;
	color: white;
}

.project-name{
	font-size: 6.5vh;
	margin-top: 8%;
}

.learn-more{
	margin: auto;
	margin-top: 80px;
	font-size: 30px;
	border: #4dff88 solid;
	width: 40%;
	cursor: pointer
}

//desktop popup---------------------

.project-popup-desktop{
	height: 600px;
	width: 850px;
	position: fixed;
	left: 0;
	right: 0;
	margin: 0 auto;
	margin-top: 60px;
	z-index: 3;
	background-color: white;
	border: grey solid thin;
	display: none;
}

#focus-carousel-desktop{
	height: 100%;
	width: 40%;
	display: inline-block;
	vertical-align: bottom;
}
.carousel-pic{
	height: 100%;
	width: 100%;
	border: blue solid;
}

.carousel-inner{
	height: 100%;
	width: 100%;
}

.view-site{
	margin: auto;
	margin-top: 10%;
	color: black;
	width: 50%;
	border: #4dff88 solid;
	background-color: #4dff88;
	text-align: center;
	font-size: 25px;
	padding: 10px;
	cursor: pointer;
}

#focus-info-desktop{
	height: 100%;
	width: 59%;
	display: inline-block;
	vertical-align: bottom;
}

#focus-info-desktop h1{
	text-align: center;
	color: black;
}

#focus-info-desktop p, #focus-info-mobile p{
	text-align: center; 
	color: black;
	margin: auto;
	margin-top: 10%;
	font-size: 18px;
	width: 80%;
}

.list-group{
	text-align: center;
	width: 75%;
	margin: auto;
	color: red;
}

//Mobile Popup-----------------------------

.project-popup-mobile{
	position: fixed;
	background-color: white;
	z-index: 3;
	text-align: center;
	overflow: scroll;
	padding-top: 15px;
	display: none;
}

#focus-carousel-mobile{
	width: 100%;
	margin: auto;
	margin-top: 350px;
}

.project-info-mobile{
	height: 40%;
}

.project-info-mobile h1{
	display: inline-block;
	margin-left: 30px;
}

.exit{
	display: inline-block;
	font-size: 20px;
	float: right;
	margin-right: 20px;
}

#page-cover{
	z-index: 2;
	background-color: black;
	opacity: 0.4;
	position: fixed;
	display: none;
}

#coming-soon{
	margin-top: 50px;
	color: #ff0000;
}




/*Contact Section-----------------------------------*/

#contactsection-container{
	padding-top: 5px;
	height: 800px;
	background: linear-gradient(to bottom right,#595959, #262626);
}

#forms-container{
	height: 85%;
	width: 30%;
	margin: auto;
	color: white;
}

#contact-header{
	height: 12%;
	text-align: center;
	font-size: 40px;
	color: white;
	margin-top: 40px;
}

#contact-underline{
	height: 5px;
	width: 100px;
	margin: auto;
	border: white solid;
}

#contact-name-email{
	height: 10%;
	margin-top: 8%;
	padding: 5px 0px 5px 0px;
}

.contact-info{
	border: #808080 solid;
	height: 100%;
	width: 49.5%;
	display: inline-block;
	margin: auto;
	vertical-align: bottom;
	padding-left: 8px;
	font-size: 18px;
	background-color: #808080;
}

::placeholder{
	color: white;
}

#message-area{
	height: 45%;
	border: #808080 solid;
	background-color: #808080;
	width: 100%;
	padding: 10px;
	font-size: 18px;
	resize: none;
}

#submit-btn{
	margin: auto;
	margin-top: 2%;
	width: 50%;
	border: #4dff88 solid;
	background-color: #404040;
	text-align: center;
	font-size: 25px;
	padding: 10px;
	cursor: pointer;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
