/*Title Section---------------------------------------*/

//HEADER STYLING-----------------------

#header{
	width: 100%;
	height: 14%;
}

#logo-area{
	height: 100px;
	width: 15%;
	display: inline-block;	
}

#nav-area{
	height: 100px;
	width: 50%;
	display: inline-block;
	padding-top: 20px;
	margin-left: 10%;
}

.link, .link:hover{
	font-size: 18px;
	background-color: white !important;
	color: black;
}


// //BODY STYLING--------------------------

#main{
	height: 77%;
}

#socialmedia-area{
	height: 600px;
	width: 15%;
	display: inline-block;
	vertical-align: bottom;
}

.btn-group-vertical{
	margin-top: 35%;
	width: 50%;
}

.btn-group-vertical button{
	height: 60px;
}

.smlink{
	border-radius: 0px !important;
	// background: url('app/assets/images/GitHub-Mark-32px.png');
}

#githublink, #githublink:hover{
	background-color: #4d4d4d;
	border-color: #4d4d4d;
	width: 60%;
}

#twitterlink, #twitterlink:hover{
	background-color: #1ebff0;
	border-color: #1ebff0;
	width: 60%;
}

#facebooklink, #facebooklink:hover{
	background-color: #3b5998;
	border-color: #3b5998;
	width: 60%;
}

#googleplaylink, #googleplaylink:hover{
	background-color: #f7f7f7;
	border-color: #f7f7f7;
	width: 60%;
}

#info-area{
	height: 600px;
	width: 84%;
	display: inline-block;
	vertical-align: bottom;
}

#info{
	width: 70%;
	height: 60%;
	margin-left: 6.7%;
	margin-top: 6%;
	text-align: center;
}

#name{
	height: 70%;
	font-size: 140px;
}

#description{
	height: 30%;
	font-size: 25px;
}

pre{
	background-color: white;
	border: none;
	font-size: 18px;
}


/*About Section----------------------------------*/

#aboutsection-container{
	// border: green solid;
	background: linear-gradient(to bottom right,#ffb3b3, #ff0000);
	height: 700px;
	border: none;
	padding-top: 1%;
	// background: linear-gradient(to bottom right,#ffffff, #cccccc);
}

#aboutsection-main{
	margin: auto;
	height: 95%;
	width: 95%;
	margin-top: 1%;
	text-align: center;
	color: white;
}

#aboutsection-info{
	height: 100%;
	width: 49%;
	display: inline-block;
	vertical-align: bottom;
}

#aboutsection-greeting{
	height: 20%;
	font-size: 40px;
	margin-top: 20%;
}

#aboutsection-description{
	height: 20%;
	font-size: 20px;
	margin: auto;
	width: 60%;
}

#tagcloud{
	height: 100%;
	width: 50%;
	font-size: 20px;
	margin: auto;
	display: inline-block;
	vertical-align: bottom;
}

.skilltag, .skilltag:hover{
	font-size: 35px !important;
	color: #4dff88 !important;
	border: none !important;
	cursor: pointer !important;
}

/*Project Section-----------------------------------*/

#projectsection-container{
	height: 500px;
	border: orange solid;
}