<div class="container-fluid" id="aboutsection">
	
	<div class="row">

		<div class="col-xl-6">
			
			<h1 id="aboutsection-greeting">Hi, I'm Numfor, nice to meet you.</h1>
			<p id="aboutsection-description">I'm currently a rising sophomore at Rensselaer Polytechnic Institute. I'm focused, driven, and constantly improving my skills as a developer. I enjoy taking on challenging projects and finding creative solutions. Take a look at some of my skills:

		</div>

		<div class="col-xl-6">

			<!-- Tag Cloud -->

    		<div id="tagcloud-container">
    		  <canvas id="tagcloud"></canvas>
    		</div>
    		<div id="tags">
    		  <ul>
    		    <li><a>HTML</a></li>
    		    <li><a>CSS</a></li>
    		    <li><a>JavaScript</a></li>
    		    <li><a>jQuery</a></li>
    		    <li><a>Vue.js</a></li>
    		    <li><a>Ruby on Rails</a></li>
    		    <li><a>Git</a></li>
    		    <li><a>PHP</a></li>
    		    <li><a>Bash</a></li>
    		    <li><a>C</a></li>
    		    <li><a>C++</a></li>
    		    <li><a>Ruby</a></li>
    		    <li><a>Java</a></li>
    		    <li><a>Android Studio</a></li>
    		    <li><a>Bootstrap</a></li>
    		    <li><a>PHP</a></li>
    		    <li><a>SQL</a></li>
    		    <li><a>MIPS</a></li>
    		  </ul>
    		</div>
		
		</div>
		
	</div>

</div>