<div class="container-fluid" id="contactsection">
	
	<h1>Contact</h1>

	<div id="contact-underline"></div>

	<div class="row" id="name-email">
		
		<div class="col-xl-6 col-xl-offset-2">

			<div class="form-container">
				
				<input type="text" placeholder="Name" class="contact-info">	

			</div>
			

		</div>

		<div class="divider"></div>

		<div class="col-xl-6 col-xl-offset-2" id="rightside">

			<div class="form-container">
				
				<input type="email" placeholder="Email" class="contact-info">

			</div>
			

		</div>

	</div>

	<div class="row" id="message">
		
		<div class="col-xl-12">
			
			<textarea placeholder="Type Message Here"></textarea>

		</div>

	</div>

	<div id="submit-btn">Submit</div>

</div>