<div class="container-fluid" id="portfoliosection">
	
	<h1 id="portfoliosection-greeting">Projects</h1>
	<div id="underline"></div>

	<div class="project" id="focus-container">
		
		<div class="projectpicture">
			<%= image_tag ("focus_project.png"), :class=>"img-thumbnail" %>
		</div>

		<div class="projectcover">
			<div class="project-name">Focus</div>
			<div class="learn-more" id="focus-learn-more">Learn More</div>
		</div>

	</div>

	<h1 id="coming-soon">More Projects Coming Soon!</h1>


</div>